                  /* general styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a{
    text-decoration: none;
}

                  /* end of general styles */

                  /* media-styles */
@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
    }
    
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

                                  /* header */
.body-header-style {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-menu, .contacts{
    display: none;
}

.nav-container {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-style {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header{
    display: block;
    padding: 16px 0;
}

.studio_color {
    color: #2e2f42;
}

.header-menu{
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-icon{
    display: block;
    fill: #2f2f37;
}

.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-bottom: 40px;

}

.mobile-menu-close, 
.btn-modal-close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close{
    background-color:#fff;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus,
.btn-modal-close:hover,
.btn-modal-close:focus{
    background-color: #404bbf;
    border: none;
    fill: #fff;
}



.mobile-nav{
    padding-top: 72px;
    padding-bottom: 168px;
}

.list-mobile-menu{
    display: flex;
    justify-self: start;
    flex-direction: column;
    gap: 40px;
}

.nav-mobile-list{
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile-list:hover,
.nav-mobile-list:focus{
        color: #404bbf;
}

.mobile-active{
    color: #404bbf;
}

.mobile-contacts{
    font-style: normal;
    display: block;
    margin-bottom: 48px;
}

.mobile-contacts-menu{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.contacts-mobile-list{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mobile-list > span{
    color: #4d5ae5;
}


.social-mobile-links{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-self: center;
}

.social-mobile-links-item{
    width: 40px;
    height: 40px;
}

.social-mobile-links .link-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mobile-icons{
    margin: 8px;
    fill: #f4f4fd;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mobile:hover,
.link-mobile:focus {
    background-color: #404bbf;
}

.social-links .link:hover .svg-icons,
.social-links .link:focus .svg-icons{
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }

    .header-menu {
        display: none;
    }
    .list-menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .contacts {
        font-style: normal;
        display: block;
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    .list-menu {
        display: flex;
        gap: 40px;
    }

    .contacts-menu {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .logo-header{
        margin-right: 120px;
        padding: 24px 0;
    }

    

    .nav-list {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        position: relative;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .active {
        color: #404bbf;
    }

    .active::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -26px;
    }

    nav a:hover,
    nav a:focus, 
    .contacts-list:hover,
    .contacts-list:focus {
        color: #404bbf;
    }

    .contacts-list {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}

@media screen and (min-width: 1158px) {
    .contacts-menu {
        gap: 40px;
    }
    .logo-header{
        margin-right: 76px;
        padding: 24px 0;
    }

    .contacts-menu {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }

    .contacts-list {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

                   /* hero section */
.hero {
    padding: 72px 0px;
    /* max-width: 320px; */
    margin-inline: auto;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi){
    .hero{
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-mobile@2x.jpg);
    }
}

.h-hero {
    display: block;
    flex-shrink: 0;
    font-weight: 700;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;

}


@media screen and (min-width: 768px) {
    .hero{
        padding: 112px 0px;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-table.jpg);
    }

    .h-hero{
        font-size: 56px;
        line-height: 1.07;
        padding: 0;
    }

    @media (min-resolution: 192dpi){
        .hero{
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-background-table@2.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 191px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-desktop.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-background-desktop@2.jpg);
        }
    }
}

                              /* advantages section */

.advantages {
    /* padding: 120px 0px; */
    padding: 96px 0;
}

.list-par {
    display: flex;
    /* gap: 24px; */
    row-gap: 72px;
    flex-direction: column;
}

.container-svg-cards{
    display: none;
}

.title-third {
    margin-bottom: 8px;
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    /* text-align */
    color: #2e2f42;
}

.par-adv {
    /* font-weight: 400; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .list-par {
        display: flex;
        gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-par-first {
        width: calc((100% - 48px) / 2);
    }

    .title-third{
        letter-spacing: 0.02em;
        text-align: start;
    }

}

@media screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0px;
    }

    .list-par {
        flex-wrap: nowrap;
    }
    
    .list-par-first{
        width: calc((100% - 72px) / 4)
    }

    .title-third {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .par-adv{
        font-weight: 400;
    }

    .container-svg-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }

    .svg-cards {
        margin: 24px 100px;
    }

    .title-svg-cards {
        margin-top: 8px;
    }
}

                                   /* team-section */
.team {
    background: #f4f4fd;
    /* padding: 120px 0px; */
    padding: 96px 0;
}

.team > .container{
    padding: 0 28px;
}

.title-third-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.par-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.title-second {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.title-under-img {
    padding: 32px 0;
}

.team-list {
    display: flex;
    /* gap: 24px; */
    row-gap: 72px;
    flex-direction: column;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-self: center;
    margin-top: 8px;
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icons {
    margin: 12px;
    fill: #f4f4fd;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #404bbf;
}

.social-links .link:hover .svg-icons,
.social-links .link:focus .svg-icons {
    fill: #fff;
}

.point-team {
    background: #fff;
    text-align: center;
    border-top-right-radius: 4px;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% - 48px)/2;
    }

}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0px;
    }

    .team-list {
        gap: 24px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

}

                                        /* portfolio-section */
.portfolio {
    /* padding: 120px 0px; */
    padding: 96px 0px;
}

.portfolio-container .title-second {
    margin-bottom: 72px;
}

.list-images {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    row-gap: 48px;
    /* column-gap: 24px; */
    justify-content: center;
}

.item {
    /* width: calc((100% - 48px) / 3); */
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-list {
    width: 100%;
}

.photo-wrapper {
    position: relative;
    overflow: hidden;
}

.overlow-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .overlow-block {
    transform: translateY(0%);
}

.list-images .item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-image-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.list-image-portfolio h3,
.list-image-portfolio p {
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    .list-images {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .item {
        width: calc((100% - 48px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .item {
        width: calc((100% - 72px) / 3);
    }
}

                    /* footer-section */

.footer-page {
    /* padding: 100px 0; */
    padding: 96px 0;
    background: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-container .logo-ch {
    display: inline-block;
    margin-bottom: 16px;
}
.prescription {
    /* margin-right: 120px; */
    margin-bottom: 72px;
    /* flex-direction: column; */
}

.prescription > .logo-header{
    padding-left: 86px;
}

.studio_color_footer{
    color: #f4f4fd;
}

.par-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-page a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;

}

.style-media {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.fix {
    display: flex;
    gap: 16px;
}

.fix-link {
    width: 40px;
    height: 40px;
}

.social-media .social-links .svg-icons {
    margin: 8px;
}

.social-media .social-link-item .link:hover,
.social-media .social-link-item .link:focus {
    background-color: #31D0AA;
}

.social-link-item .link:hover .svg-icons,
.social-link-item .link:focus .svg-icons {
    fill: #f4f4fd;
}

.studio_color_footer {
    color: #f4f4fd
}

.social-media{
    margin-bottom: 72px;
}

.footer-input-style {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-email-text-style,
.footer-email-text-style::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 24px; */
}

.footer-form-btn {
    border-radius: 4px;
    padding: 8px 24px;
    padding-right: 64px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    position: relative;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-form-btn:hover {
    background-color: #31D0AA;
}

.svg-paper-plane {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px
}

.wrapper-footer-form-btn {
    position: relative;
}

@media screen and (min-width: 768px) {    
    .footer-container {
        display: flex;
        flex-direction: row;
        /* align-items: baseline; */
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .style-media{
        justify-content: start;
    }

    .prescription>.logo-header {
        padding-left: 0;
    }

    .prescription {
        margin-right: 24px;
        margin-bottom: 72px;
    }
    .social-media {
        padding-top: 17px;
    }
    .footer-form{
        gap: 24px;
    }

    .wrapper-form{
        margin-right: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-page {
            padding: 100px 0;
        }

    .footer-container {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .prescription {
        margin-right: 0;
        margin-bottom: 0;
    }

    .social-media{
        margin-bottom: 0;
    }
}

                      /* modal window style */
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    /* min-height: 584px; */
    min-height: 623px;
    min-width: 288px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
    margin-bottom: 8px;
    width: 100%;
}

.form-wrapper-textarea {
    width: 100%;
    margin-bottom: 16px;
}

.form-span {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.span-privacy {
    color: #4d5ae5;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 3px;

}

.form-title {
    /* max-width: 360px; */
    max-width: 256px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.form-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
    border-color: #4d5ae5;
}

.form-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-checkbox-style:checked+.form-label .form-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.input-wrapper {
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    row-gap: 4px;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form>.hero-button {
    margin-top: 24px;
}

.form-label {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}



.icon-close-black-18dp {
    fill: #2e2f42;
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    background: #e7e9fc;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.btn-modal-close:hover .icon-close-black-18dp,
.btn-modal-close:focus .icon-close-black-18dp {
    fill: #ffffff;
}

.wrapper-checkbox {
    margin-bottom: 24px;
}



.modal-checkbox-style[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 1px;
    border: 1px solid #404bbf;
    outline: none;
    cursor: pointer;

}

.textarea-style {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-style::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.textarea-style:focus-within {
    border-color: #4d5ae5;
}

@media screen and (min-width: 768px) {
    .modal {
        min-height: 584px;
        min-width: auto;
        padding: 72px 24px 24px 24px;
    }

    .form-title {
        max-width: 360px;
    }
}
